/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #7a81f5;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar.close .logo-details{
  height:60px;
  align-items: center;
  padding-left: 0px;

}
.sidebar .logo-details{
  height:60px;
  align-items: center;
  padding-left: 50px;

}
.sidebar .logo-details img{
  height: 60px;
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0px 0 15px 0;
}
.sidebar .logo-details img {
  
  height: 100px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
/*.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 300;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}*/
.sidebar .nav-links{
  height: 100%;
  padding: 15px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #1d1b31;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: 4px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}

.one {
  width: 80%;
  margin-left: 10%;
  background-color: black;
  height: 400px;
}

.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #fefefe;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}
.sidebar .profile-details .profile_name, .sidebar .profile-details .job{
  margin-left: -20px;
}
/********************************************************/
.topnav {
  overflow: hidden;
  width:100%;
 
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: none;

}

.sidebar .topnav a:hover {
  background-color: #ddd;
  color: black;

}
.sidebar.close .topnav a:hover {
  background-color: #ddd;
  color: black;

}

.sidebar.close .topnav a.active {
  background-color: #04AA6D;
  color: white;

}

.topnav a.icon {
  display: block;
  color:black;
  font-size: 20px;
  padding-right: 40px;

}
.topnav .icon:hover {
  display: block;
  color:black;
  font-size: 20px;
}
.topnavresponsive {
    position: relative;
    display: block;
    margin-top: 10rem;

  }
  .topnavresponsive .icon{
    display: block;
    color:black;
    font-size: 20px;


  }
.topnavresponsive .icon a {
    float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  display: none;
  background-color: #7a81f5;
  color:white;
  }
.topnavresponsive a{
    float: right;
    
    margin-left: 50rem;
    text-decoration: none;
    padding-right: 40px;
    padding: 10px;
    display: block;
    text-align: left;
  }
.topnavresponsive a:hover{
  background: #1d1b31;
  color: white;
}












.home .deshbord{
  width:100%;
  display: flex;
  height: auto;
}
.home .deshbord .deshbord_container{
  width: 25%;
  padding: 10px;
}
.home .deshbord .deshbord_container_items{
  line-height:140px;
  width:100%;
  background: #f04f4f;
  border-radius: 20px;
  display: flex;
  padding-left: 20%;

}
.home .deshbord .deshbord_container_items2{
  line-height:140px;
  width:100%;
  background: #f09ccd;
  border-radius: 20px;
  display: flex;
  padding-left: 20%;
}
.home .deshbord .deshbord_container_items3{
  line-height:140px;
  width:100%;
  background: #7884cc;
  border-radius: 20px;
  display: flex;
  padding-left: 20%;
}
.home .deshbord .deshbord_container_items4{
  line-height:140px;
  width:100%;
  background: #71c78b;
  border-radius: 20px;
  display: flex;
  padding-left: 20%;
}
.deshbord_container_items_data{
  line-height:160px;
  margin-left: 8vh;
  color:white;
  font-size: 30px;
}
.deshbord_container_items_icon .icon{
  color:white;
  line-height:160px;
  font-size: 40px;
}
/*charts*/

.graphBox{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px;
  min-height: 200px;

}
.graphBox .box{
  position: relative;
  background: #fff;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
 
}

/*Import contact page csss*/


#import_data{
        width:100%;
        height: 100px;
        color:black;
}
#import_data .data{
        margin-right: 4rem;
        float: right;
        padding: 30px;
}
#import_data .data a{
        font-size: 20px;
        background: blue;
        color: white;
        margin-top: 40px;
        padding: 20px;
        border-radius: 5px;
        text-decoration: none;
}
#user_data{
  width:100%;
  background-color: lightseagreen;
  padding: 20px;

}
.table_heading{
  padding: 2rem;
  display: flex;
  background-color: red;
}
.page_data_search{
  float: right;
}



/*create camping*/

.compaing_data{
  width:100%;
  background-color: red;
  padding: 1rem;
}
.compaing_data.camping_head{
    float: right;
    background: white;
}
.compaing_data .camping_head button{
  height: 2rem;
  width:1rem;
}
.compaing_data .camping_head button a{
  padding: 0.2rem;
  text-decoration: none;
  color: lightseagreen;
  height: 2rem;
  width:1rem;
}



















@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
}
